<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>749748468319-64pnr1j13v815fulbh7ovv2v7dapcagt.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.749748468319-64pnr1j13v815fulbh7ovv2v7dapcagt</string>
	<key>API_KEY</key>
	<string>AIzaSyA8imho7_-fppGfn_dS25o2vpEHQ4W1CFE</string>
	<key>GCM_SENDER_ID</key>
	<string>749748468319</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.resplandecer.Resplandecer</string>
	<key>PROJECT_ID</key>
	<string>resplandecer-5b625</string>
	<key>STORAGE_BUCKET</key>
	<string>resplandecer-5b625.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:749748468319:ios:582cf323d878c2649df9ea</string>
	<key>DATABASE_URL</key>
	<string>https://resplandecer-5b625.firebaseio.com</string>
</dict>
</plist>
